@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,#root{
    height: 100%;
    width: 100%;
}

html{
    background-color: #212121;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    padding-block : 1rem;
    padding-inline: 3rem; 
}

.note{
    background-color: #424242;
    color: white;
    padding: 1rem;
    max-width: 20rem;
    border-radius: 0.7rem;
}
.note-create-form{
    display: flex;
    gap: 1rem;
    padding-inline: 3rem;
    padding-block: 1rem;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}   